.aboutMeIndex{
  grid-column: layout-left/layout-right;
}

.aboutMePage {
  height: 100vh;
  
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container h1{
  font-size: 4em;
}

.name{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.aboutPicFrame {
  width: 500px;
  
}


/* .aboutMePage {
    height: 75vh;
  display: grid;
  grid-template-columns: 10%[col-right] 1fr [col-left] 10%;
  grid-template-rows: [header-start] minmax(10px, auto) [header-end bio-start] 1fr [bio-end footer-start] minmax(10px, auto) [footer-end];
}


.aboutPicFrame img {
  width: 100%;
  border-radius: 10px;
  opacity: 0.4;
}

.aboutMe {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 20px;
}

.aboutMe h1 {
  margin:0;
  font-size: 4em;
  font-weight: 300;
}

.aboutMe p {
  font-weight: 300;
  font-size: 1.7em;
  margin: 0;
} */
