.aboutMePage {
    height: 75vh;
  /* padding: 20px; */
  display: grid;
  grid-template-columns: 10%[col-right] 1fr [col-left] 10%;
  grid-template-rows: [header-start] 20% [header-end bio-start] 1fr [bio-end footer-start] 20% [footer-end];
}
.container {
  grid-column-start: col-right;
  grid-column-end: col-left;
  grid-row-start: header-start;
  grid-row-end: footer-end;
  display: grid;
  grid-template-columns: [start-right] 5% [right-middle] 30% [middle-m] auto [left-middle] 30% [left-start] 5% [left-end];
  grid-template-rows: [header-start] 20% [header-end bio-start] 1fr [bio-end footer-start] 20% [footer-end];
}

.aboutPicFrame {
  width: 500px;
  grid-row: bio-start/bio-end;
  grid-column: right-middle/middle-m;
}

.aboutPicFrame img {
  width: 100%;
  border-radius: 10px;
  opacity: 0.4;
}

.aboutMe {
  grid-column: left-middle/left-start;
  grid-row: bio-start/bio-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.aboutMe h1 {
  margin:0;
  font-size: 4em;
  font-weight: 300;

}

.aboutMe p {
  font-weight: 300;
  font-size: 1.7em;
  margin: 0;
}
