.formContainer {
  height: 100%;
  color: white;
  display: grid;
  grid-template-columns: 10% [padding-right] 1fr [padding-left] 10%;
}


.formBlock{
    grid-column: padding-left/padding-right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    
}


.formBlock label {
  width: 100%;
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    text-transform: capitalize;
}

.formBlock input {
  padding: 40px;
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
}


.button {
  background-color: silver;
  color: white;
  /* box-shadow: ; */
  width: 100%;
  margin-bottom: 40px;
}


.formBlock input:focus {
  font-weight: 300;
  outline:none;
  
}