.postContainer {
  height: 100%;
  color: white;
  grid-column: layout-right/layout-left;
}

.container {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 6%;
  margin-bottom: 6%;
}

.card {
  margin: 20px;
  min-width: 375px;
  height: 260px;
  border-radius: 3%;
  position: relative;
}

.cardDescription {
  /* padding: 10%; */
  color: white;
  position: absolute;
}

.cardDescription h1 {
  font-weight: 900;
  font-size: 1.8em;
  text-align: center;
  text-transform: capitalize;
}

.imageContainer {
}
