.postContainer {
  height: 100%;
  color: white;
  display: grid;
  grid-template-columns: 10% [padding-right] 1fr [padding-left] 10%;
}

.container {
  grid-column: padding-left/padding-right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-gap: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  margin-bottom: 6%;
}

.card {
  /* opacity: .5; */
  min-width: 375px;
  height: 260px;
  border-radius: 3%;
  position: relative;
}

.cardDescription {
  /* padding: 10%; */
  color: white;
}

.cardDescription h1 {
  font-weight: 900;
  font-size: 1.8em;
  text-align: center;
  text-transform: capitalize;
}

.imageContainer {
}
