.container {
  background: radial-gradient(
    circle,
    rgba(18, 18, 20, 1) 0%,
    rgba(42, 42, 42, 1) 72%,
    rgba(42, 38, 38, 1) 100%
  );
  font-family: Ubuntu, sans-serif;

}

.parentDiv{
  /* display: grid;
  grid-template-columns: 10% [layout-right] 1fr [layout-left] 10%; */
  padding: 10px 10px;
}
