.container {
  background-color: #202124;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.logo img{
  width: 200px;
}

.unorderList {
  list-style-type: none;
  padding: 0 30px;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Playfair Display", sans-serif;
  font-weight: 900;
}


.unorderListTwo{
  display: inline;
  list-style: none;
}

.unorderListTwo socialIcon i{
  font-size:1.7em;
}

.unorderList li {
    margin: 20px;
    color: white;
    cursor: pointer;
}

.hamburger {
  display:none;
}


@media only screen and (max-width: 700px) {
  .unorderList{
    display: none;
  }
}



@media only screen and (max-width: 372px){
  .hamburger {
    display: unset;
  }
}