.container {

  background-color: #202124;
  border-bottom: 4px solid gray;
  display: grid;
  grid-template-rows: 90px;
  grid-template-columns: 80% 15%;
}

.unorderList {
  list-style-type: none;
  padding: 0 30px;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.unorderList li {
    margin: 20px;
    color: white;
}

.unorderList a {
  font-family: "Playfair Display", sans-serif;
  font-weight: 900;
}