.container{
    grid-column: layout-left/layout-right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.singleProjectCard {
    text-align: center;
}

.singleProjectCard h1{
    font-size: 4em;
    font-family: "Playfair Display", serif;
}