.postContainer {
    height: 100%;
    color: white;
    display: grid;
    grid-template-columns: 10% [padding-right] 1fr [padding-left] 10%;
  }

.projectContainer {
    grid-column: padding-right/padding-left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 6%;
}


.card{
    font-family: "Playfair Display", serif;
    font-weight: 500;
    border:4px solid #E2BB5B ;
    border-radius: 10px 10px;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #353535;
    text-align: center;
}

.cardImage img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px;
    box-shadow: -1px 20px 20px .02em;
}

.cardBttm {
    margin-top: 10px;
}