.formBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 360px;
  padding: 50px;
}

.label {
  min-width: 200px;
  max-width: 400px;
  text-transform: capitalize;
}

.input {
  max-width: 50rem;
  padding: 40px;
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
}

.input:focus {
  font-weight: 300;
  outline: none;
}
